<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
        <nav>
          <ul>
            {% for page in site.header_pages %}
              <li><a href="{{ page | relative_url }}">{{ site.pages | where: "path", page | first.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
